<p class="controller-bar print-hide">
  <a (click)="toggleAutoReload()">
    <span class="icon icon-refresh"></span>
    <span *ngIf="interval === null"> 자동 새로고침 </span>
    <span *ngIf="interval !== null">
      {{ nextUpdateTime | amLocale: "ko-kr" | amTimeAgo }}{{" "}}새로고침
    </span>
  </a>
  &nbsp; &nbsp;
  <a (click)="toggleHideText()">
    <span
      class="icon"
      [ngClass]="(hideText$ | async) ? 'icon-show' : 'icon-hide'"
    ></span>
    {{ (hideText$ | async) ? "글자 보이기" : "글자 숨기기" }}
  </a>
  &nbsp; &nbsp;
  <a (click)="toggleJudgeByGpa()">
    <span
      [title]="
        (judgeByGpa$ | async)
          ? '1에서 4까지 GPA에 따라 빨간색에서 초록색으로 변합니다'
          : '60에서 100까지 점수에 따라 빨간색에서 초록색으로 변합니다'
      "
    >
      <span class="icon icon-display"></span>
      {{ (judgeByGpa$ | async) ? "백분제 색 표시" : "4점제 색 표시" }}
    </span>
  </a>
</p>
